$navy-blue : darken(#66ccff,40%);
$map-color : darken(#FFDEAD,5%);
$light-green: #e6ffcc;
$water-blue: #66ccff;
body{
  background-color: #173859;
  #map-well{
    background-image: url('../../resources/img/Ocean.png');
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    background-color: $map-color;
    float:left;
    width: 79%;
    #game-board{
      .rotate{
        -webkit-transform: rotate(90deg);
      }
      td{
        background-color: $water-blue;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        width: 50px;
        height: 50px;
        font-weight: bold;
        .glyphicon{
          color: hotpink;
        }
      }
      .border{
        background-color: $navy-blue;
        color: white;
      }
      .ship{
        background-color: #b3b3b3;
      }
      .sumbmarineHit0{
        background-image: url("../../resources/img/submarine1.png");
      }
      .sumbmarineHit1{
        background-image: url("../../resources/img/submarine2.png");
      }
      .sumbmarineHit2{
        background-image: url("../../resources/img/submarine3.png");
      }
      // .sunk{
      //   background-color: DarkBlue;
      // }
      .miss{
        background-color: white;
      }
    }
  }
  #score-board{
    margin-top: 10px;
    text-align: center;
    background-color:	#204f7c;
    float: right;
    width: 19%;
    height: 591px;
    .btn{
      background-color: $map-color;
      &:hover{
        background-color: $navy-blue;
      }
    }
    #ships{
      margin-top: 20px;
      padding: 10px 5px 5px 10px;
      background-color: $navy-blue;
      ul{
        padding-left: 0px;
        li{
          font-size: 14px;
          display:inline;
          color: white;
          width: 250px;
          height: 50px;
        }
      }
    }
    #attempts{
      background-color: $water-blue ;
      ul{
        margin: 0px;
        padding-left: 0px;
        li{
          font-size: 18px;
          color: white;
          list-style-type: none;
        }
      }
    }
  }
  .navbar{
    margin-top: 20px;
    background-color: lighten($water-blue, 20%);
    li{
      font-weight: bold;
      a{
        color: $navy-blue;
        &:visited{
          color: $navy-blue;
        }
      }
    }
  }
}
